﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="login1.aspx.cs" Inherits="OMS.WebServices.login1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
				        <asp:Button id="Login" onclick="Login_Click" runat="server" Text="Sign in" ForeColor="#000066"></asp:Button>&nbsp;
    
    </div>
    </form>
</body>
</html>
