﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeBehind="WELogin.aspx.cs" Inherits="OMS.WebServices.WELogin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

<link rel="stylesheet" href="Styles\site.css" type="text/css">
</head>
<body style="top: 0px; left: 0px; position: absolute; height: 752px; width: 1280px" 
    bgcolor="#cc3300">
    <%--<div id="button1" class="buttonText"></div>--%><%--<div id="SubmitButton" ></div>        
--%>
    <form id="form1" runat="server">
    <%--    <asp:Image ID="Image1" runat="server" 
        ImageUrl="~/images/login/restricted_access4.jpg" 
        
        style="z-index:1; top: 300px; left: 300px; position: absolute; height: 151px; width: 293px" 
         />
    <asp:Image ID="Image2" runat="server" ImageUrl="~/images/login/username4.jpg" 
        
        
        style="z-index:2; top: 300px; left: 400px; position: absolute; height: 100px; width: 100px" Visible="False" 
         />--%>

<div id="SubmitButton" runat="server"
        style="position: absolute; top: 335px; left: 275px; width: 293px; height: 189px" >
        
        </div>        


    <asp:TextBox ID="Username" runat="server" BorderStyle="Ridge" 
        style="top: 195px; left: 360px; position: absolute; height: 35px; width: 220px;"></asp:TextBox>
    <asp:TextBox ID="Password" runat="server" BorderStyle="Ridge" 
        style="top: 285px; left: 335px; position: absolute; height: 40px; width: 220px;" 
        TextMode="Password"></asp:TextBox>
    <%--  <asp:Button ID="SubmitButton" runat="server" CssClass="SubmitButton"
        style="top: 370px; left: 400px; position: absolute; height: 35px; width: 123px" 
        Text="" />
 --%>
    <asp:Label ID="ErrMsg" runat="server" 
        style="top: 550px; left: 275px; position: absolute; height: 17px; width: 296px"></asp:Label>
    <asp:Image ID="Image4" runat="server" Height="752px" 
        ImageUrl="~/images/login/login-mockup-1280x752.png" Width="1280px" />
    </form>
</body>
</html>
