
* {
  margin: 0;
  padding: 0;
}

[disabled] { /* Text and background colour, medium red on light yellow */
color:#933;
background-color:#ffc;
}


body {
  -webkit-user-select: none;
  cursor: default;
}

/* Basic Type Presets */
h2 {
  line-height: 28px;
  font-family: Helvetica, sans-serif;
  margin-bottom: 20px;
}

#header {
  height: 25px;
  text-align: center;
  font: 12px/25px Helvetica, sans-serif;
  color: black;
  background: #eee;
}

#header a {
	color: blue;
}



/* Buttons */


.buttonText {
  font: 18px/1.5 Helvetica, Arial, sans-serif;
  color: white;
  text-decoration: none;
}


/*  Button1 START  */

#button1 {
/*  background: #6292c2;
  border: 2px solid #eee;
  height: 28px;
  width: 115px;
 margin: 50px 0 0 50px; 
  padding: 0 0 0 7px;
  overflow: hidden;
  display: block; */
  
  /*Transition*/
 /* transition: All 0.5s ease; */
  
  /*Rounded Corners*/
 /* border-radius: 15px; */
  
  /*Gradient*/
  /* background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)); */
  /* background-image:url('scorpion3.jpg'); */
   background-image:url('arreg.jpg'); 
}

/* mouseover state */
#button1:hover {
  border: 2px solid #f00;
  /* background-image:url('scorpion2.jpg'); */
  background-image:url('armoov.jpg');
}

/* mousedown state */
#button1:active {
  /* border: 2px solid #f00;
  background: #0f0; */
 /*  background-image:url('scorpion1.jpg'); */
   background-image:url('arclick.jpg'); 
}


/*  Button1 END  */




